header{
    position: fixed;
    top: 0px;
    width: 100%;
}
.center-align{
    text-align: center;
}
.left-align{
    text-align: left;
}
.right-align{
    text-align: right;
}
  
@media only screen and (max-width: 6000px){

body{
  background-color: rgba(0,255,255,0.35);
  
    }
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
}

